@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	margin: 0;
	background-color: #e1e3eb;
}
* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.main {
	text-align: center;
	justify-content: center;
	display: flex;
	margin-top: 10%;
}

.sub-main {
	background-color: aliceblue;
	padding: 40px;
}

input {
	width: 250px;
	height: 50px;
	border-radius: 30px;
	box-shadow: inset 0px 0px 25px 0px rgb(226, 225, 225);
	padding-top: 5px;
	border: none;
	outline: none;
}

.inputDiv {
	position: absolute;
	padding: 20px 0 0 5px;
	font-size: 35px;
}

.second-input {
	padding-top: 20px;
	padding-bottom: 20px;
}

.name {
	padding-left: 40px;
	font-size: 15px;
}
.button {
	background: #56a9af;
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
	cursor: pointer;
}
.button:hover {
	color: black;
	padding: 10px 34px;
}

a {
	color: #2d92c0;
	text-decoration: none;
}

a:hover {
	color: rgb(49, 154, 240);
}

.signup {
	width: 50%;
}

.signupPage {
	margin-top: 5%;
}

.mainInput > div {
	padding-bottom: 10px;
}
